@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*  {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-width: 550px;
    font-family: "Roboto", sans-serif;
}

/* Handles header segment. */

.headcontainer {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    flex: none;
    padding: 20px 60px;
}

.header {
    display: flex;
    flex-direction: column;
    max-width: 1100px;
}

/* Handles upper header. */

.nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    justify-content: flex-start;
    align-items: baseline;
    gap: 20px;
}

.nav a {
    text-decoration: none;
    color: #E5E7EB;
}

.header .nav .logo {
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
}

/* Handles lower header. */

.banner {
    display: flex;
    padding: 50px 0px;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

@media only screen and (max-width: 850px) {
    .banner {
        flex-wrap: wrap;
    }
    .main {
        order: 2;
    }
}

.main {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: flex-start;
    gap: 12px;
    flex: 1 1 auto;
    padding-right: 15px;
}

.main p {
    margin: 0px;
    font-size: 18px;
    color: #E5E7EB;
}

.main .maintitle {
    font-size: 48px;
    font-weight: 1000;
    color: #F9FAF8;
}

button {
    flex: 1 0 auto;
    padding: 8px 24px;
    color: white;
    background-color: #3882F6;
    border-radius:5px;
    border: none;
    font-weight: 700;
}

.banner div {
    max-width: 475px;
}

.banner img {
    width: 100%;
    border: #3882F6 solid 2px;
    border-radius: 5px;
}

/* Handles whole content section. */

.content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

/* Handles featured segment. */

.featured {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    gap: 15px;
    color: #1F2937;
}

.images {
    display: flex;
    gap: 50px;
    margin-bottom: 60px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.images img {
    max-width: 160px;
    max-height: 160px;
    border-radius: 10px;
    border: #3882F6 solid 3px;
    margin-bottom: 8px;
}

.featured .featuredtitle {
    font-size: 36px;
    font-weight: 1000;
}

.featured .images p {
    text-align: center;
    max-width: 160px;
    margin: 0px;
}

/* Handles the quote segment */

.quotecontainer {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
}

.quote {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    padding: 100px;
}

.quote p {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.quote label {
    align-self: flex-end;
    font-weight: bold;
    font-size: 24px;
    font-weight: 700;
}

/* Handles the enroll segment */

.enroll {
    display: flex;
    justify-content: center;
}

.enrollbox {
    margin: 75px;
    background-color: #3882F6;
    padding: 50px 90px;
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: flex-end;
    max-width: 1000px;
    border-radius: 10px;
    gap: 60px; 
}

@media only screen and (max-width:670px) {
    .enrollbox {
        flex-direction: column;
        padding: 40px 55px;
        gap: 20px;
    }
    .enrollbox div {
        text-align: center;
    }
}

.enrollbox div {
    flex: 1 1 auto;
    color: white;
}

.enrollbox p {
    margin: 0;
    padding: 0;
}

.enroll strong {
    font-weight: 1000;
    font-size: 18px;
}

.enroll button {
    border: solid white 2px;
    max-width: 120px;
}

/* Handles the footer */

.footer {
    background-color: #1f2937;
    color: white;
    flex: none;
    display: flex;
    justify-content: center;
    padding: 20px;
}